<div class="register-container p-d-flex p-jc-center p-ai-center" style="height: 100vh;">
  <p-card class="p-shadow-4 card">
    <h2 class="p-text-center">Create Account</h2>

    <form (ngSubmit)="register()">
      <div class="p-field">
        <label for="username">Username</label>
        <input id="username" type="text" [(ngModel)]="username" name="username" required pInputText />
      </div>

      <div class="p-field">
        <label for="firstname">Firstname</label>
        <input id="firstname" type="text" [(ngModel)]="firstname" name="firstname" required pInputText />
      </div>

      <div class="p-field">
        <label for="email">Email</label>
        <input id="email" type="email" [(ngModel)]="email" name="email" required pInputText />
      </div>

      <div class="p-field">
        <label for="password">Password</label>
        <p-password id="password" [(ngModel)]="password" name="password" feedback="false" toggleMask="true" required></p-password>
      </div>

      <p-message *ngIf="errorMessage" severity="danger" text="{{ errorMessage }}"></p-message>
      <p-message *ngIf="successMessage" severity="success" text="{{ successMessage }}"></p-message>

      <div class="p-mt-3">
        <button type="submit" pButton label="Register" class="p-button-success" style="width: 100%;"></button>
      </div>
    </form>
  </p-card>
</div>
